/* ## Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.box-content::before,
.entry-header::before,
.tours-by-category::before,
.entry-content::before,
.footer-widgets::before,
.large-tour-card::before,
.tour-gallery::before,
.related-posts::before,
.team-members::before,
.logo-nav::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.box-content::after,
.entry-header::after,
.tours-by-category::after,
.entry-content::after,
.footer-widgets::after,
.large-tour-card::after,
.tour-gallery::after,
.related-posts::after,
.team-members::after,
.logo-nav::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}