.after-entry {
	background-color: $after-entry--background-color;
	@include rem( font-size, $after-entry--font-size );
	margin-bottom: $after-entry--margin-bottom;
	padding: $after-entry--padding;

	@media only screen and (max-width: $small-screen) {
		padding: 30px;
		margin-bottom: 5%;
	}
}