/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings--font-family;
	font-weight: 600;
	line-height: $headings--line-height;
	margin: 0 0 10px;
}

h1 {
	@include rem( font-size, 36px );
}

h2 {
	@include rem( font-size, 30px );
}

h3 {
	@include rem( font-size, 24px );
}

h4 {
	@include rem( font-size, 20px );
}

h5 {
	@include rem( font-size, 18px );
}

h6 {
	@include rem( font-size, 16px );
}