/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
	padding: 0;
	@include rem( font-size, 14px );

	.menu-item {
		border-bottom: none;
		text-align: right;

		@media only screen and (max-width: $small-screen) {
			text-align: left;
		}
	}
	
	a {
		padding: 10px 0;

		&:hover {
			color: $green;
			background-color: $white;
		}
	}
}