.widget {
	margin-bottom: $widget--margin-bottom;
	word-wrap: break-word;

	ul > li {
		margin-bottom: 0px;
		padding: 16px;
		border-bottom: 1px solid $light-grey;
	}

	ul > li:last-of-type {
		border-bottom: none;
	}

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.widget-title {
	@include rem( font-size, $widget-title--font-size );
}

h3.widget-title {
	margin-bottom: 0;
	padding: 6px 16px 16px;
	border-bottom: 2px solid $green;
}