/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $entry--background-color;
	margin-bottom: $entry--margin-bottom;
	padding: $entry--padding;

	@media only screen and (max-width: $small-screen) {
		margin-bottom: $entry--margin-bottom__small-screen;
		padding: $entry--padding__small-screen;
	}
}