.entry-content,
.content {
	ol,
	ul {
		margin-bottom: 20px;
		margin-left: 30px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: #333;
		color: #eee;
	}
}

section.content-box {
	margin: 20px 0;
	display: block;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	
	h3 {
		@include rem( font-size, 20px );
		background-color: $mid-grey;
		color: $white;
	    border-top-left-radius: $border-radius;
	    border-top-right-radius: $border-radius;
	    margin: 0;
	    padding: 14px 20px;

    	a {
    		color: $white;
    	}
	}

	.box-content {
		background-color: $light-grey;
		padding: 20px;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.blog,
.archive,
.search {
	.content .entry {
		background-color: $light-grey;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		padding: 0;
		margin-right: 20px;
		margin-left: 20px;

		img.alignleft {
			display: block;
			width: 100%;
			margin-bottom: 0;
			border-bottom-left-radius: $border-radius;

			 @media only screen and (max-width: $big-screen) {
				margin-bottom: 24px;
				margin-right: 0;
				border-bottom-left-radius: 0;
			}
		}

		a.entry-image-link {
			width: 50%;
		    float: left;

		    @media only screen and (max-width: $big-screen) {
				width: 100%;
				float: none;
			}
		}

		.entry-content {
			padding: 20px;
			float: right;
			width: 50%;

			@media only screen and (max-width: $big-screen) {
				width: 100%;
				float: none;
			}
		}

		p,
		p.entry-meta {
			margin-bottom: 10px;
		}

		.more-link {
			float: right;
		}
	}
}