.entry-title {
	@include rem( font-size, $entry-title--font-size );

	a {
		color: $entry-title--link-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: $entry-title--link-hover-color;
		}
	}
}

.blog,
.archive,
.search {
	.entry-title {
		@include rem( font-size, 20px );
		background-color: $mid-grey;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		color: $white;
		margin: 0 20px;
		padding: 14px 20px;

		a {
			color: $white;
		}
	}
}

