.entry-content {
	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: #333;
		color: #eee;
	}
}

.blog,
.archive,
.search {
	.entry {
		background-color: $light-grey;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		padding: 0 20px 0 0;
		margin-right: 20px;
		margin-left: 20px;

		img.alignleft {
			margin-bottom: 0;
			border-bottom-left-radius: $border-radius;
		}

		p.entry-meta {
			margin-top: 20px;
			margin-bottom: 10px;
		}
	}
}