.entry-content,
.content {
	ol,
	ul {
		margin-bottom: 20px;
		margin-left: 30px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: #333;
		color: #eee;
	}
}

.blog,
.archive,
.search {
	.content .entry {
		background-color: $light-grey;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		padding: 0;
		margin-right: 20px;
		margin-left: 20px;

		img.alignleft {
			display: block;
			width: 100%;
			margin-bottom: 0;
			border-bottom-left-radius: $border-radius;

			 @media only screen and (max-width: $big-screen) {
				margin-bottom: 24px;
				margin-right: 0;
			}

			@media only screen and (max-width: $medium-screen) {
				margin-bottom: 0;
				margin-right: 24px;
			}

			@media only screen and (max-width: $small-screen) {
				margin-bottom: 24px;
				margin-right: 0;
			}
		}

		a.entry-image-link {
			width: 50%;
		    float: left;

		    @media only screen and (max-width: $big-screen) {
				width: 100%;
				float: none;
			}

			@media only screen and (max-width: $medium-screen) {
				width: 50%;
				float: left;
			}

			@media only screen and (max-width: $small-screen) {
				width: 100%;
				float: none;
			}
		}

		.entry-content {
			padding: 20px;
			float: right;
			width: 50%;

			@media only screen and (max-width: $big-screen) {
				width: 100%;
				float: none;
			}

			@media only screen and (max-width: $medium-screen) {
				width: 50%;
				float: right;
			}

			@media only screen and (max-width: $small-screen) {
				width: 100%;
				float: none;
			}
		}

		p.entry-meta {
			margin-bottom: 10px;
		}

		.more-link {
			float: right;
			margin-top: 20px;
		}
	}
}