/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $site-footer--background-color;
	@include rem( font-size, $site-footer--font-size );
	padding: 40px 0;

	.leftfoot,
	.midfoot,
	.rightfoot {
		display: block;
	}

	.midfoot,
	.rightfoot {
		width: 440px;
	}

	.leftfoot {
		width: $primary-sidebar--width;
		float: left;
		margin-right: 60px;
	}

	.midfoot {
		float: left;
		
	}

	.rightfoot {
		float: right;
	}



	p {
		margin-bottom: 0;
	}

	h3.widget-title {
		margin-bottom: 20px;
		padding: 0;
	}

	.widget {
		padding: 16px;
		margin-bottom: 0;
	}

	.textwidget img {
		max-width: 100px;
		float: left;
		margin-right: 20px;
	}

	.menu-social-links-container {
		ul > li {
		    margin-bottom: 0px;
		    padding: 16px;
		    border-bottom: none;
		    display: inline-block;

		    &:first-of-type {
		    	padding-left: 0;
		    }
		}

		.fab {
	    	@include rem( font-size, 20px );
	    }
	}
}