/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $site-footer--background-color;
	@include rem( font-size, $site-footer--font-size );
	padding: 40px 0;

	.leftfoot,
	.footer-main,
	.rightfoot,
	.logosfoot {
		display: block;
	}



	.leftfoot {
		width: $primary-sidebar--width;
		float: left;
		margin-right: 60px;

		@media only screen and (max-width: $small-screen) {
			width: 100%;
			float: none;
			margin-right: 0;
		}
	}

	.footer-main {
		width: 880px;
		float: left;

		@media only screen and (max-width: $bigger-screen) {
			width: 560px;
		}

		@media only screen and (max-width: $medium-screen) {
			width: 400px;
		}

		@media only screen and (max-width: $small-screen) {
			width: 100%;
			float: none;
		}
	}

	.nav-secondary {
		background-color: $secondary-nav--background-color;
		padding: 16px;
		width: 49%;
		float: left;

		.wrap {
			padding: 0;
		}

		@media only screen and (max-width: $bigger-screen) {
			width: 100%;
			float: none;
		}
	}

	.rightfoot {
		width: 49%;
		float: right;

		@media only screen and (max-width: $bigger-screen) {
			width: 100%;
			float: none;
		}
	}

	.logosfoot {
		width: 100%;
		clear: both;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;

		.widget {
			max-width: 20%;

			@media only screen and (max-width: $medium-screen) {
				max-width: 50%;
			}
		}
	}



	p {
		margin-bottom: 0;
	}

	h3.widget-title {
		margin-bottom: 20px;
		padding: 0;
	}

	.widget {
		padding: 16px;
		margin-bottom: 0;
	}

	.textwidget img {
		max-width: 100px;
		float: left;
		margin-right: 20px;
	}

	.menu-social-links-container {
		ul > li {
		    margin-bottom: 0px;
		    padding: 16px;
		    border-bottom: none;
		    display: inline-block;

		    &:first-of-type {
		    	padding-left: 0;
		    }
		}

		.fab {
	    	@include rem( font-size, 20px );
	    }
	}
}