//
// Breakpoints
// ========================


// Global Screen Sizes
// ==============================

$biggest-screen: 1600px;
$bigger-screen: 1340px;
$big-screen: 1200px;
$medium-screen: 1023px;
$small-screen: 860px;
$smaller-screen: 480px;
$smallest-screen: 320px;



/// Standard Media Query Breakpoints ??? Decide on this later!
/// @group wds

$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$wp-admin-bar: 783px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 360px;