//
// Breakpoints
// ========================


// Global Screen Sizes
// ==============================

$biggest-screen: 1600px;
$bigger-screen: 1340px;
$medium-screen: 1023px;
$small-screen: 860px;
$smaller-screen: 480px;
$smallest-screen: 320px;