//
// Site widths
// ========================

$base--width: 1280px;
$base--width__bigger-screen: 960px;
$base--width__medium-screen: 800px;
$base--width__landing-page: 800px;


//
// Standard dimensions
// ========================

$border-radius: 5px;

//
// Content widths
// ========================

$content--width: 960px;
$content-both-sidebars--width: 740px;

$content--width__bigger-screen: 640px;
$content-both-sidebars--width__bigger-screen: 420px;


$primary-sidebar--width: 280px;
$primary-sidebar--width__bigger-screen: 280px;

$secondary-sidebar--width: 180px;

$content-sidebar-wrap--width: 1060px;
$content-sidebar-wrap--width__bigger-screen: 740px;

//
// Title area dimensions
// ========================

$title-area--width: 300px;
$site-title--min-height: 80px;

$header-widget-area--width: 500px;

//
// Content dimensions
// ========================

$entry--margin-bottom: 40px;
$entry--padding: 40px;
$entry--margin-bottom__small-screen: 5%;
$entry--padding__small-screen: 20px;

$after-entry--margin-bottom: 40px;
$after-entry--padding: 40px;

$author-box--margin-bottom: 40px;
$author-box--padding: 40px;

$archive-description--margin-bottom: 40px;
$archive-description--padding: 40px;

$entry-header-meta--margin-bottom: 24px;
$entry-footer-meta--paddingTop: 24px;


//
// Sidebar dimensions
// ========================

$sidebar--margin-bottom: 40px;

$sidebar-widget--padding: 10px;
$sidebar-widget--padding__small-screen: 16px;


//
// Widget dimensions
// ========================

$widget--margin-bottom: 40px;
$widget-title--margin-bottom: 20px;


//
// Footer dimensions
// ========================
