$base--font-family: 'Source Sans Pro', sans-serif;
$base--font-size: 20px;
$base--line-height: 1.625;

$base--link-decoration: none;
$base--link-hover-decoration: none;
$base--link-focus-decoration: $base--link-hover-decoration;

$headings--font-family: 'Source Sans Pro', sans-serif;
$headings--line-height: 1.2;


//
// Element Typography
// ========================

$blockquote--font-size: 30px;
$input--font-size: 18px;
$button--font-size: 16px;


//
// Header Typography
// ========================

$site-title--font-size: 30px;
$site-description--font-size: 16px;


//
// Navigation Typography
// ========================

$nav--font-size: 16px;
$pagination--font-size: 16px;
$sub-menu--font-size: 14px;
$primary-nav--font-size: 14px;
$breadcrumb--font-size: 16px;


//
// Content Typography
// ========================

$entry-title--font-size: 36px;
$entry-meta--font-size: 16px;
$author-box--font-size: 18px;
$author-box-title--font-size: 20px;
$after-entry--font-size: 18px;


//
// Archive Typography
// ========================

$archive-title--font-size: 20px;
$archive-description--font-size: 18px;


//
// Sidebar Typography
// ========================

$sidebar--font-size: 16px;


//
// Widget Typography
// ========================

$widget-title--font-size: 18px;
$widget-featured-content-title--font-size: 20px;


//
// Footer Typography
// ========================

$site-footer--font-size: 16px;
$footer-widgets--font-size: 18px;