/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: $base--width;

	@media only screen and (max-width: $bigger-screen) {
		max-width: $base--width__bigger-screen;
	}

	@media only screen and (max-width: $big-screen) {
		max-width: $base--width__big-screen;
	}

	@media only screen and (max-width: $medium-screen) {
		max-width: $base--width__medium-screen;
	}
}

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;

	@media only screen and (max-width: $small-screen) {
		padding: 5% 5% 0;
	}
}

@media only screen and (max-width: $small-screen) {
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.landing-page .site-inner {
	max-width: $base--width__landing-page;
}