.content .content-wrapper.calendar{
	background-color: $light-grey;
	border-radius: $border-radius;

	.table-wrapper {
		padding: 0 15px 15px 15px;
		border-bottom-left-radius: $border-radius;
	    border-bottom-right-radius: $border-radius;
	    margin-bottom: 40px;
	}

	h3 {
		@include rem( font-size, 20px );
		background-color: $mid-grey;
		color: $white;
	    border-top-left-radius: $border-radius;
	    border-top-right-radius: $border-radius;
	    margin: 0;
	    padding: 14px 20px;
	}

	table {
		margin-bottom: 0;

		td:first-child, 
		th:first-child {
		    padding-left: 6px;
		}

		thead {
			border-bottom: 2px solid $mid-grey;
		}

		tbody tr:hover {
			background-color: $white;
			cursor: pointer;
		}

		td.date {
			width: 25%;
		}

		td.tour-name {
		}

		td.tour-tag {
			width: 25%;

			@media only screen and (max-width: $medium-screen) {
				display: none;
			}
		}

		td.arrow {
			width: 3%;
			text-align: right;
		}

		tbody td.arrow {
			color: $green;
		}

		@media only screen and (max-width: $medium-screen) {
			@include rem( font-size, 14px );
		}

	}

}	