.single-reisen {

	.entry-header {
		margin-bottom: 20px;
		display: inline-block;

		.button.book-tour {
			float: right;
			margin: 0 0 20px 20px;
		}
	}

	.info-box {
		width: 250px;
		float: right;
		background-color: $light-grey;
		border-radius: $border-radius;
		padding: 20px;
		margin: 0 0 20px 20px;
		display: inline-block;

		@media only screen and (max-width: $big-screen) {
			width: 100%;
			float: none;
			margin-left: 0;
		}

		h4 {
			margin-top: 20px;
		}

		.info {

			span.tour-label {
				display: none;
			}
			
			@media only screen and (max-width: $big-screen) {
				width: 50%;
				float: left;
			}

			@media only screen and (max-width: $smaller-screen) {
				width: 100%;
				float: none;
			}

		}

		.price {
			@include rem( font-size, 20px );
			font-weight: 600;
			color: $green;

			.original {
				text-decoration: line-through;
				color: $mid-grey;
				margin-left: 10px;
			}
		}

		a.button.book-tour {
			margin-bottom: 20px;
		    width: 100%;
		    text-align: center;
		}
	}

	.tour-map {
		width: 100%;
		margin-top: 20px;

		@media only screen and (max-width: $big-screen) {
			width: 40%;
			margin-top: 0;
			float: right;
		}

		@media only screen and (max-width: $smaller-screen) {
			width: 100%;
			margin-top: 20px;
			float: none;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.tour-images {
		margin: 20px 0;
		width: 610px;

		@media only screen and (max-width: $bigger-screen) {
			width: 470px;
		}

		@media only screen and (max-width: $big-screen) {
			width: 100%;
		}
	}

	.tour-gallery {
		width: 100%;

		.flexslider {
			margin-bottom: 5px;
			border: none;
			border-radius: 0;
		}

		.flex-direction-nav a:before {
		    @include rem( font-size, 30px );
		}

		ul {
			margin: 0;
		}

		ul > li {
			list-style-type: none;
		}

		ul.slides li {
			position: relative;
		}

		.flexcaption {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 100;

			p {
				padding: 2%;
				background: rgba(0,0,0,.5);
				color: $white;
				text-shadow: 0 -1px 0 rgba(0,0,0,.3);
				font-size: 14px;
				line-height: 18px;
				margin: 0;
			}
		}
	}




	.tour-info {
		display: block;

		ul.tour-tabs {
			margin: 20px 0 0 0;
			padding: 0;
			float: left;
			list-style: none;
			width: 100%;
		}

		ul.tour-tabs li {
			float: left;
			margin: 0 5px 0 0;
			cursor: pointer;
			padding: 6px 16px;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			line-height: 31px;
			background-color: $green;
			color: $white;
			overflow: hidden;
			position: relative;

			&:last-of-type {
				margin-right: 0;
			}
		}

		ul.tour-tabs li:hover {
			background-color: $light-grey;
			color: $black;
		}

		ul.tour-tabs li.active {
			background-color: $light-grey;
			color: $black;
			display: block;
		}

		.tab-content-container {
			clear: both;
			float: left;
			width: 100%;
			background: $light-grey;
			border-top-right-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			overflow: auto;

			@media only screen and (max-width: $medium-screen) {
				margin-top: 20px;
			}
		}

		.tab_content {
			padding: 20px;
			display: none;

			h2.tab-heading {
				margin-bottom: 30px;

				@media only screen and (max-width: $medium-screen) {
					display: none;
				}
			}

			.tab-section {
				margin-bottom: 40px;
			}

			table td:first-child {
				width: 60px;
			}

			.price {
				font-weight: 600;
				padding-bottom: 10px;

				.original {
					text-decoration: line-through;
					color: $mid-grey;
				}
			}
		}

		.tab_drawer_heading { display: none; }

		@media only screen and (max-width: $medium-screen) {
			.tour-tabs {
				display: none;
			}
			.tab_drawer_heading {
				background-color: $green;
				color: $white;
				border-bottom: 1px solid $white;
				margin: 0;
				padding: 16px;
				display: block;
				cursor: pointer;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.d_active {
				background-color: $light-grey;
				color: $black;
			}
		}

		.feedback {
			padding: 20px 0;
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			h4 span.feedback-date {
				font-weight: 300;
			}

			h5 {
				color: $green;
			}

		}


	}

	.entry-footer {

		@media only screen and (max-width: $smaller-screen) {
			text-align: center;
		}

		a.download-programme {
			float: left;
			margin: 20px 20px 0 0;
			padding: 7px 0;
			@include rem( font-size, 20px );
			font-weight: 600;

			@media only screen and (max-width: $smaller-screen) {
				width: 100%;
				margin: 20px 0;
			}
		}


		.button.book-tour {
			float: right;
			margin: 20px 0 0 20px;

			@media only screen and (max-width: $smaller-screen) {
				float: none;
				margin: 0 auto;
			}
		}

	}

}
	


	