.large-tour-card {
	margin: 20px 0;
	background-color: $light-grey;
	display: block;

	h3 {
		@include rem( font-size, 20px );
		background-color: $mid-grey;
		color: $white;
	    border-top-left-radius: $border-radius;
	    border-top-right-radius: $border-radius;
	    margin: 0;
	    padding: 14px 20px;

    	a {
    		color: $white;
    	}

	    .price {
	    	float: right;
	    }
	}

	.tour-teaser {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		a.entry-image-link {
			float: left;
			width: 50%;
			height: auto;

			img {
				width: 100%;
				border-bottom-left-radius: $border-radius;
			}
		}

		.tour-info {
			float: right;
			width: 50%;
			padding: 20px;
		}

		.more-link {
			float: right;
			margin-top: 20px;
		}
	}
}
