//* Small tour cards *//
.small-tour-card {
    margin-bottom: 20px;
    width: 31.623931623931625%;
    float: left;
	margin-left: 2.564102564102564%;
	position: relative;

    &:nth-of-type(3n+1) {
	    clear: both;
	    margin-left: 0;
    }

    h4 {
    	width: 100%;
    	background-color: $mid-grey;
    	border-top-left-radius: $border-radius;
    	border-top-right-radius: $border-radius;
    	margin-bottom: 0;
    	padding: 10px;
    	@include rem( font-size, 18px );
    	color: $white;
    }

    img {
    	width: 100%;
    	display: block;
    }

    span.original {
			text-decoration: line-through;
			color: $mid-grey;
			margin-right: 10px;
		}

    a:hover {
    	color: $white;
    }

    .tour-overlay {
    	position: absolute;
	    display: inline-block;
	    z-index: 100;
	    width: 100%;
	    padding: 10px;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(51, 51, 51, 0.6);
	    @include rem( font-size, 18px );
	    text-align: right;
	    font-weight: 600;
    }

    img,
    .tour-overlay {
    	border-bottom-left-radius: $border-radius;
    	border-bottom-right-radius: $border-radius;
    }

    @media only screen and (max-width: $bigger-screen) {
        width: 48.717948717948715%;

        &:nth-of-type(3n+1) {
		    clear: none;
		    margin-left: 2.564102564102564%;
	    }

        &:nth-of-type(2n+1) {
		    clear: both;
		    margin-left: 0;
	    }
    } 

    @media only screen and (max-width: $smaller-screen) {
    	width: 100%;
    	margin-left: 0;

    	&:nth-of-type(2n+1) {
		    clear: none;
	    }

	    &:nth-of-type(3n+1) {
		    margin-left: 0;
	    }
    }
}

.sidebar .small-tour-card {
	width: 100%;
	margin: 0;
}


.tours-by-category {
	margin-top: 40px;
	margin-bottom: 10px;
}

.home-featured-tour {
	margin-top: 40px;
}


//* Large tour cards *//
.large-tour-card {
	margin: 20px 0;
	background-color: $light-grey;
	display: block;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;


	h3 {
		@include rem( font-size, 20px );
		background-color: $mid-grey;
		color: $white;
	    border-top-left-radius: $border-radius;
	    border-top-right-radius: $border-radius;
	    margin: 0;
	    padding: 14px 20px;

	    @media only screen and (max-width: $small-screen) {
			@include rem( font-size, 18px );
		}

    	a {
    		color: $white;
    		display: flex;
    		justify-content: space-between;
    	}

	    .price {
	    	text-align: right;
	    	min-width: 35%;
	    	margin-left: 10px;

	    	.original {
				text-decoration: line-through;
				color: $light-grey;
				margin-right: 10px;
			}
	    }
	}

	h4.trip-subline {
		@include rem( font-size, 16px );
		margin-bottom: 5px;
	}

	.tour-teaser {

		a.entry-image-link {
			float: left;
			width: 50%;
			height: auto;

			img {
				display: block;
				width: 100%;
				border-bottom-left-radius: $border-radius;

				@media only screen and (max-width: $bigger-screen) {
					border-bottom-left-radius: 0;
				}
			}

			@media only screen and (max-width: $bigger-screen) {
				width: 100%;
				float: none;
			}
		}

		.tour-info {
			float: right;
			width: 50%;
			padding: 20px;

			p:last-of-type {
				margin-bottom: 10px;
			}


			@media only screen and (max-width: $bigger-screen) {
				width: 100%;
				float: none;
			}
		}

		.more-link {
			text-align: right;
		}

	}
}